.zombie {
	width: px;
	height: 60px; 
    color: 'silver';
   text-align:center;
   background:#33cc66;
   color:silver;
   font-size: 20pt;
}

.awesome {
  background-color:green;
  font-size:25pt;
}f
